<div class="row">
  <div class=" col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6">
    <h1>{{ pageTitle }}</h1>
    <div class="component-body">
      <form class="form-signin" #f="ngForm" (ngSubmit)="postUser(f.value)">
        <div class="form-group">
          <input 
            type="email" 
            name="email" 
            [(ngModel)]="user.Email"
            [ngClass]="{'filled': user.Email}"
            required 
            autofocus 
            (focusout)="checkEmail($event.target)"
            #email="ngModel"
            [disabled]="userId" />
          <label for="email" (click)="email.focus()">Email address</label>
        </div>
        <div *ngIf="emailError" class="alert alert-danger">Email address is not unique.</div>
        <div *ngIf="email.invalid && email.errors.required && (email.touched || email.dirty)" class="alert alert-danger">Email is required.</div>
        <div class="form-group">
          <input 
            type="password" 
            name="password" 
            [required]="isNaN(user._uid)"
            ngModel
            (focusout)="checkInput($event.target)"
            #password="ngModel" />
          <label for="password" (click)="password.focus()">Password</label>
        </div>
        <div *ngIf="password.invalid && password.errors.required && (password.touched || password.dirty)" class="alert alert-danger">Password is required.</div>

        <div class="form-group">
          <input 
            type="text" 
            [(ngModel)]="user.FirstName"
            [ngClass]="{'filled': user.FirstName}"
            name="first_name" 
            (focusout)="checkInput($event.target)"
            #firstName="ngModel" />
          <label for="first_name" (click)="firstName.focus()">First name</label>
        </div>
        <div class="form-group">
          <input 
            type="text"
            [(ngModel)]="user.LastName"
            [ngClass]="{'filled': user.LastName}"
            name="last_name"
            (focusout)="checkInput($event.target)"
            #lastName="ngModel" />
            <label (click)="lastName.focus()">Last name</label>
        </div>
        <div class="form-group">
          <select 
            [(ngModel)]="user.Role"
            name="role" 
            #userRole="ngModel" 
            (click)="checkInput($event.target)"
            [ngClass]="{'filled': user.Role}">
            <option *ngFor="let role of roles" [value]="role._rid">{{ role.role_name }}</option>
          </select>
          <label>User role</label>
        </div>
        <div class="form-group" *ngIf="userRole.value == 4">
          <input 
            type="input" 
            name="company"
            [(ngModel)]="user.company"
            #company="ngModel"
            placeholder="Comma separated list of store IDs"
            class="filled">
          <label>Store(s)</label>
        </div>
        <div class="form-group" [ngClass]="{'row': userId}">
          <div class="col-xs-6" *ngIf="userId" style="padding-left: 0;">
            <a class="btn btn-danger btn-block" style="padding: 17px;" *ngIf="userId" (click)="deleteUser(user._uid)">Delete user</a>
          </div>
          <input type="hidden" name="_uid" [(ngModel)]="userId" #_uid="ngModel" />
          <div [ngClass]="{'col-xs-6': userId}" style="padding-right: 0;">
            <input [disabled]="!f.valid || emailError" type="submit" name="submit" class="btn btn-primary btn-block" value="Save user">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
