<div class="row">
  <div class="col-xs-9">
    <h1>{{ store.store_title}}</h1>
  </div>
  <div class="col-xs-3" style="padding-top: 35px;">
    <ul class="pull-right" style="padding-left: 0;">
      <li style="list-style-type: none;">
        <a [routerLink]="['/stores/edit', store._cid]">Edit store</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="component-body">
      <h3>Address information</h3>
      <div class="field" *ngIf="store.address1">
        <small>Company address</small>
        {{ store.address1 }}
      </div>
      <div class="field" *ngIf="store.address2">
        <small>Company suite number</small>
        {{ store.address2 }}
      </div>
      <div class="field" *ngIf="store.city">
        <small>Company city</small>
        {{ store.city }}
      </div>
      <div class="row" *ngIf="store.state">
        <div class="col-xs-6" *ngIf="store.state" style="padding-left: 0;">
          <div class="field">
            <small>Company state</small>
            {{ store.state }}
          </div>
        </div>
        <div class="col-xs-6" *ngIf="store.zip">
          <div class="field">
            <small>Company zip</small>
            {{ store.zip }}
          </div>
        </div>
      </div>
      <h3>Contact information</h3>
      <div class="field" *ngIf="store.contact_name">
        <small>Name</small>
        {{ store.contact_name }}
      </div>
      <div class="field" *ngIf="store.contact_email">
        <small>Email</small>
        {{ store.contact_email }}
      </div>
      <div class="field" *ngIf="store.contact_phone && store.contact_phone != 'undefined'">
        <small>Phone</small>
        {{ store.contact_phone }}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="component-body">
      <img *ngIf="store.logo" [src]="store.logo" alt="Store logo" />
      <h3>Online information</h3>
      <div class="field" *ngIf="store.website">
        <small>Company website</small>
        <a [href]="store.website" target="_blank">{{ store.website }}</a>
      </div>
      <div class="field" *ngIf="store.store_url">
        <small>Company store</small>
        <a [href]="store.store_url" target="_blank">{{ store.store_url }}</a>
      </div>
      <div class="field" *ngIf="store.product_api_endpoint">
        <small>Product API endpoint</small>
        {{ store.product_api_endpoint }}
      </div>
      <div class="field" *ngIf="store.order_api_endpoint">
        <small>Order API endpoint</small>
        {{ store.order_api_endpoint }}
      </div>
      <div class="field" *ngIf="store.email_from_address">
        <small>Email &ldquo;from&rsquo; address</small>
        {{ store.email_from_address }}
      </div>
      <div class="field" *ngIf="store.emails_enabled">
        <small>Transactional emails enabled</small>
        {{ store.emails_enabled }}
      </div>
      <div class="field" *ngIf="store.discount && store.discount != 'null'">
        <small>Discount</small>
        {{ store.discount }}
      </div>
      <div class="field" *ngIf="store.coupon_code && store.coupon_code != 'null'">
        <small>Coupon code</small>
        {{ store.coupon_code }}
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="products">
  <div class="col-xs-12">
    <div class="component-body">
      <h3>Products</h3>
      <div class="row filters">
        <div class="col-xs-12 col-sm-4" style="padding: 0;">
          <input 
            class="form-control" 
            placeholder="Search by SKU"
            #skuSearch
            (keyup)="filterbySku(skuSearch.value)" />
        </div>
      </div>
      <div class="row product-list-header">
        <div class="col-xs-6 col-sm-4"><h3>Title</h3></div>
        <div class="col-xs-6 col-sm-4"><h3>Image</h3></div>
        <div class="hidden-xs col-sm-4 "><h3>Stock</h3></div>
      </div>
      <div class="row product" *ngFor="let product of filteredProducts">
        <div class="col-xs-6 col-sm-4"><a [routerLink]="['/products', product._pid]">{{ product.product_title }}</a><br />{{ product.sku }}</div>
        <div class="col-xs-6 col-sm-4"><img [src]="product.image" *ngIf="product.image && product.image != 'undefined' && product.image != 'null'" [alt]="product.title" class="product-image" /></div>
        <div class="hidden-xs col-sm-4">{{ product.stock }}</div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <div class="form-controls">
      <a routerLink="/orders" class="form-cancel">Cancel</a>
      <input type="submit" class="btn btn-success" value="Edit store" />
    </div>
  </div>
</div> -->
