<input 
  type="text" 
  id="company" 
  [(ngModel)]="selectedCompany.company_title" 
  (focusout)="getCompany($event)" 
  [ngClass]="{'filled': selectedCompany.company_title}"
  list="companies" />
<label for="company">Store</label>
<input type="hidden" name="company" [value]="selectedCompany._cid" />
<div class="selected-company" *ngIf="selectedCompany._cid">
  <img [src]="selectedCompany.logo" [alt]="selectedCompany.company_title" />
  <h4>{{ selectedCompany.company_title }}</h4>
</div>
<datalist id="companies">
  <option *ngFor="let company of companyList" [value]="company.company_title">
    {{ company._cid }}
  </option>
</datalist>