<h1>Stores</h1>
<ul class="right-options">
  <li>
    <a [routerLink]="['/stores/add']">Add store</a>
  </li>
</ul>
<div class="component-body">
  <div class="row company-list-header">
    <div class="hidden-xs hidden-sm col-md-2"><h3>Store ID</h3></div>
    <div class="col-xs-6 col-sm-4 col-md-3"><h3>Store name</h3></div>
    <div class="col-xs-6 col-sm-4 col-md-3"><h3>Contact name</h3></div>
    <div class="hidden-xs col-sm-4 col-md-4"><h3>Website</h3></div>
  </div>
  <div class="row company" *ngFor="let store of stores">
    <div class="hidden-xs hidden-sm col-md-2">{{ store._cid }}</div>
    <div class="col-xs-6 col-sm-4 col-md-3"><a [routerLink]="['/stores', store._cid]">{{ store.title }}</a></div>
    <div class="col-xs-6 col-sm-4 col-md-3">{{ store.contactName }}</div>
    <div class="hidden-xs col-sm-4 col-md-4"><a target="_blank" [href]="store.websiteUrl">{{ store.websiteUrl }}</a></div>
  </div>
</div>
