.product-list-header, .product {
  border-bottom: 1px solid #d4d4d4;
}

.product {
  padding: 15px 0px;
}

.product-image {
  max-height: 100px;
  width: auto; 
  height: auto;
}

.product.disabled {
  background: rgba(255,0,0,0.1);
}