<input 
  type="text" 
  id="company" 
  [(ngModel)]="selectedCompany.title"
  (focusout)="getCompany($event)" 
  [ngClass]="{'filled': selectedCompany.title}"
  list="companies" />
<label for="company">Store</label>
<input type="hidden" name="company" [value]="selectedCompany._cid" />
<div class="selected-company" *ngIf="selectedCompany._cid">
  <img [src]="selectedCompany.logo" [alt]="selectedCompany.title" />
  <h4>{{ selectedCompany.title }}</h4>
</div>
<datalist id="companies">
  <option *ngFor="let company of companyList" [value]="company.title">
    {{ company._cid }}
  </option>
</datalist>
