<div class="row">
  <div class="col-xs-12 col-sm-10">
    <h1 style="display: inline-block">
      Order {{ orderId }}
      <small *ngIf="order.ref && order.ref != 'undefined'" style="font-size: 50%; margin-left: 20px;">Ref: {{order.ref}}</small>
    </h1>
    <div class="label" style="display: inline-block; text-transform: capitalize; position: relative; top: -4px; margin-left: 20px;" [ngClass]="{
          'label-info': order.orderStatus =='new',
          'label-primary': order.orderStatus=='shipped',
          'label-success': order.orderStatus=='completed',
          'label-danger': order.orderStatus=='cancelled'}">
      {{ order.orderStatus }}
    </div>
  </div>
  <div class="col-xs-12 col-sm-2" style="padding-top: 35px;">
    <ul class="pull-right" style="padding-left: 0;">
      <li style="list-style-type: none;">
        <a [routerLink]="['/orders/edit', orderId]">Edit order</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="component-body">
      <h3>Products</h3>
      <div style="margin-bottom: 30px;">
        <div class="product" *ngFor="let product of order.products; let i = index">
          <div class="row">
            <div class="col-xs-12 col-sm-6" style="padding-left: 0;">
              <div class="field">
                <!-- SKU-->
                <small>SKU</small>
                {{ product.sku }}
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" style="padding-right: 0;">
              <div class="field">
                <!-- Quantity -->
                <small>Quantity</small>
                {{ product.quantity }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>Order total</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="padding-left: 0;">
          <div class="field">
            <small>Subtotal</small>
            {{ order.subtotal }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="padding-right: 0;">
          <div class="field">
            <small>Total</small>
            {{ order.total }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="component-body">
      <h3>Customer information</h3>
      <div class="field">
        <small>Customer name</small> {{ order.customerName }}
      </div>
      <div class="field">
        <small>Customer email</small> {{ order.customerEmail }}
      </div>
      <div class="field" *ngIf="order.customerPhone">
        <small>Customer phone</small> {{ order.customerPhone }}
      </div>
      <div class="field">
        <small>Customer street address</small> {{ order.customerAddress1 }}
      </div>
      <div class="field" *ngIf="order.customerAddress2">
        <small>Customer street address 2</small> {{ order.customerAddress2 }}
      </div>
      <div class="field">
        <small>Customer city</small> {{ order.customerCity }}
      </div>
      <div class="row" style="margin: 0;">
        <div class="col-xs-6" style="padding-left: 0;">
          <div class="field">
            <small>Customer state</small> {{ order.customerState }}
          </div>
        </div>
        <div class="col-xs-6" style="padding-right: 0;">
          <div class="field">
            <small>Customer zip</small> {{ order.customerZip }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="component-body">
      <h3>Store information</h3>
      <div class="field">
        <small>Store</small> {{ order.store.title }}
        <img *ngIf="order.logo" [src]="order.logo" />
      </div>
      <div class="field" *ngIf="order.orderSource">
        <small>Order source</small> {{ order.orderSource }}
      </div>
      <div class="field" *ngIf="order.ref">
        <small>Reference number</small> {{ order.ref }}
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="order.shippingNumber || order.shippingCarrier">
  <div class="col-xs-12">
    <div class="component-body">
      <h3>Shipping information</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="field" *ngIf="order.shippingName">
            <small>Ship to</small>
            {{ order.shippingName }}
          </div>
          <div class="field" *ngIf="order.shippingAddress1">
            <small>Street address</small>
            {{ order.shippingAddress1 }}
          </div>
          <div class="field" *ngIf="order.shippingAddress2">
            <small>Street address 2</small>
            {{ order.shippingAddress2 }}
          </div>
          <div class="field" *ngIf="order.shippingCity">
            <small>City</small>
            {{ order.shippingCity }}
          </div>
          <div class="field" *ngIf="order.shippingState">
            <small>State</small>
            {{ order.shippingState }}
          </div>
          <div class="field" *ngIf="order.shippingZip">
            <small>Zip</small>
            {{ order.shippingZip }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="field" *ngIf="order.shippingNumber">
            <small>Shipping number</small> {{ order.shippingNumber }}
          </div>
          <div class="field" *ngIf="order.shippingCarrier">
            <small>Shipping carrier</small> {{ order.shippingCarrier }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6" *ngIf="orderId == 0">
    <input type="checkbox" name="send_order_receipt" (click)="sendOrderReceipt()" #send_order_receipt />
    <label for="send_emails" (click)="send_order_receipt.click()">Send order receipt</label>
  </div>
  <div class="col-xs-6" *ngIf="orderId != 0">
    <div *ngIf="order.receipt_email_id">Receipt email sent: {{ order.receiptEmailSent | date:'medium' }}</div>
    <div *ngIf="order.shipping_email_id">Shipping email sent: {{ order.shipping_email_sent | date:'medium' }}</div>
  </div>
  <div class="col-xs-6">
    <div class="form-controls">
      <a routerLink="/orders" class="form-cancel">Cancel</a>
      <button *ngIf="order.orderStatus != 'cancelled'" (click)="cancelOrder(orderId)" class="btn btn-danger" value="Cancel order">Cancel order</button>
    </div>
  </div>
</div>
