<div class="row">
  <div class="col-xs-12 col-sm-10">
    <h1 style="display: inline-block">
      Order {{ orderId }}
      <small *ngIf="order.ref && order.ref != 'undefined'" style="font-size: 50%; margin-left: 20px;">Ref: {{order.ref}}</small>
    </h1>
    <div class="label" style="display: inline-block; text-transform: capitalize; position: relative; top: -4px; margin-left: 20px;" [ngClass]="{
          'label-info': order.order_status =='new', 
          'label-primary': order.order_status=='shipped',
          'label-success': order.order_status=='completed',
          'label-danger': order.order_status=='cancelled'}">
      {{ order.order_status }}
    </div>
  </div>
  <div class="col-xs-12 col-sm-2" style="padding-top: 35px;">
    <ul class="pull-right" style="padding-left: 0;">
      <li style="list-style-type: none;">
        <a [routerLink]="['/orders/edit', orderId]">Edit order</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="component-body">
      <h3>Products</h3>
      <div style="margin-bottom: 30px;">
        <div class="product" *ngFor="let product of order.products; let i = index">
          <div class="row">
            <div class="col-xs-12 col-sm-6" style="padding-left: 0;">
              <div class="field">
                <!-- SKU-->
                <small>SKU</small>
                {{ product.sku }}
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" style="padding-right: 0;">
              <div class="field">
                <!-- Quantity -->
                <small>Quantity</small>
                {{ product.quantity }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>Order total</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="padding-left: 0;">
          <div class="field">
            <small>Subtotal</small>
            {{ order.subtotal }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="padding-right: 0;">
          <div class="field">
            <small>Total</small>
            {{ order.total }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="component-body">
      <h3>Customer information</h3>
      <div class="field">
        <small>Customer name</small> {{ order.customer_name }}
      </div>
      <div class="field">
        <small>Customer email</small> {{ order.customer_email }}
      </div>
      <div class="field" *ngIf="order.customer_phone">
        <small>Customer phone</small> {{ order.customer_phone }}
      </div>
      <div class="field">
        <small>Customer street address</small> {{ order.customer_address1 }}
      </div>
      <div class="field" *ngIf="order.customer_address2">
        <small>Customer street address 2</small> {{ order.customer_address2 }}
      </div>
      <div class="field">
        <small>Customer city</small> {{ order.customer_city }}
      </div>
      <div class="row" style="margin: 0;">
        <div class="col-xs-6" style="padding-left: 0;">
          <div class="field">
            <small>Customer state</small> {{ order.customer_state }}
          </div>
        </div>
        <div class="col-xs-6" style="padding-right: 0;">
          <div class="field">
            <small>Customer zip</small> {{ order.customer_zip }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="component-body">
      <h3>Store information</h3>
      <div class="field">
        <small>Store</small> {{ order.company_title }}
        <img *ngIf="order.logo" [src]="order.logo" />
      </div>
      <div class="field" *ngIf="order.order_source">
        <small>Order source</small> {{ order.order_source }}
      </div>
      <div class="field" *ngIf="order.ref">
        <small>Reference number</small> {{ order.ref }}
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="order.shipping_number || order.shipping_carrier">
  <div class="col-xs-12">
    <div class="component-body">
      <h3>Shipping information</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="field" *ngIf="order.shipping_name">
            <small>Ship to</small>
            {{ order.shipping_name }}
          </div>
          <div class="field" *ngIf="order.shipping_address1">
            <small>Street address</small>
            {{ order.shipping_address1 }}
          </div>
          <div class="field" *ngIf="order.shipping_address2">
            <small>Street address 2</small>
            {{ order.shipping_address2 }}
          </div>
          <div class="field" *ngIf="order.shipping_city">
            <small>City</small>
            {{ order.shipping_city }}
          </div>
          <div class="field" *ngIf="order.shipping_state">
            <small>State</small>
            {{ order.shipping_state }}
          </div>
          <div class="field" *ngIf="order.shipping_zip">
            <small>Zip</small>
            {{ order.shipping_zip }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="field" *ngIf="order.shipping_number">
            <small>Shipping number</small> {{ order.shipping_number }}
          </div>
          <div class="field" *ngIf="order.shipping_carrier">
            <small>Shipping carrier</small> {{ order.shipping_carrier }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6" *ngIf="orderId == 0">
    <input type="checkbox" name="send_order_receipt" (click)="sendOrderReceipt()" #send_order_receipt />
    <label for="send_emails" (click)="send_order_receipt.click()">Send order receipt</label>
  </div>
  <div class="col-xs-6" *ngIf="orderId != 0">
    <div *ngIf="order.receipt_email_id">Receipt email sent: {{ order.receipt_email_sent | date:'medium' }}</div>
    <div *ngIf="order.shipping_email_id">Shipping email sent: {{ order.shipping_email_sent | date:'medium' }}</div>
  </div>
  <div class="col-xs-6">
    <div class="form-controls">
      <a routerLink="/orders" class="form-cancel">Cancel</a>
      <button *ngIf="order.order_status != 'cancelled'" (click)="cancelOrder(orderId)" class="btn btn-danger" value="Cancel order">Cancel order</button>
    </div>
  </div>
</div>
